<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      <strong>WHAT I DO </strong>
    </p>
    <p>
      Using art and technology to build empathetic rapports from all walks of life. I am a freshman at
      <a class="underline-link" href="https://www.engineering.com/story/a-lesson-in-cybersecurity-at-the-university-of-southern-california" target="_blank">University of Southern California</a> and getting involved at
      <a class="underline-link" href="https://minghsiehece.usc.edu/groups-and-institutes/sipi/about/" target="_blank">SIPI Research Institute</a>,
      <a class="underline-link" href="https://itservices.usc.edu/" target="_blank">USC IT Services</a>, and
      <a class="underline-link" href="https://www.misshuntingtonbeach.org/scholarship" target="_blank">Miss Huntington Beach</a>.
    </p>
    <br>
    <br>
    <p>
      <strong>WHAT I'VE DONE</strong>
    </p>
    <p>
      My first experience in tech started with drawing a logo for my dad's electrical engineering startup when I was four. My first serious gig in high school entails proposing a
      <a class="underline-link" href="https://arxiv.org/abs/2011.03800" target="_blank">livestreaming pipeline</a> using keypoint extraction to reduce net latency. I am continually enriching my experience, whether that is working on a data visualization or exploit security vulnerabilities outside of class.
    </p>

    {% include employment-status.html %}
  </div>
</section>
