<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      <strong>What I do</strong>
      Using art and technology to build empathetic rapports from all walks of life. I am studying at
      <a class="underline-link" href="https://www.engineering.com/story/a-lesson-in-cybersecurity-at-the-university-of-southern-california" target="_blank">University of Southern California</a> and getting involved at
      <a class="underline-link" href="https://sites.google.com/usc.edu/stac-lab/home" target="_blank">STAC Lab</a>,
      <a class="underline-link" href="https://itservices.usc.edu/" target="_blank">USC IT Services</a>, and
      <a class="underline-link" href="https://www.misshuntingtonbeach.org/scholarship" target="_blank">Miss Huntington Beach Scholarship Program</a>.
    </p>

    <p>
      <strong>What I've done</strong> My first experience in tech started with drawing a logo for my dad's electrical engineering startup when I was four. My first serious gig in high school entails proposing a livestreaming 
      <a class="underline-link" href="https://arxiv.org/abs/2011.03800" target="_blank">pipeline</a> using keypoint extraction to reduce net latency. 
    </p>
    <p>
      I am continually enriching my experience, whether that is working on a data visualization or exploit security vulnerabilities outside of class. This is the reason why I want to further my skills.
    </p>  
    <!-- {% include employment-status.html %} -->
  </div>
</section>
