<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      <strong>What I do</strong>
      Building empathetic rapports from all walks of life. I am studying at
      <a class="underline-link" href="https://www.engineering.com/story/a-lesson-in-cybersecurity-at-the-university-of-southern-california" target="_blank">University of Southern California</a> and getting involved at
      <a class="underline-link" href="https://sites.google.com/usc.edu/stac-lab/home" target="_blank">STAC Lab</a>,
      <a class="underline-link" href="https://itservices.usc.edu/" target="_blank">USC IT Services</a>, and
      <a class="underline-link" href="https://www.misshuntingtonbeach.org/scholarship" target="_blank">Miss Huntington Beach Scholarship Program</a>.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
